/src/node_modules
/src/public/hot
/src/public/storage
/src/public/js
/src/public/css
/src/storage/*.key
/src/vendor
/nbproject
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/src/.env
/src/storage/debugbar/*