# Default settings for docker-compose
# @see https://docs.docker.com/compose/reference/envvars/#compose_file
COMPOSE_PROJECT_NAME=urlshortener
COMPOSE_FILE=docker-compose.yml
COMPOSE_CONVERT_WINDOWS_PATHS=1

# build
PHP_VERSION=7.4.4
TIMEZONE=UTC
NETWORKS_DRIVER=bridge

# application
APP_USER=www-data
APP_GROUP=www-data
APP_USER_ID=1000
APP_GROUP_ID=1000
APP_CODE_PATH_HOST=./src
APP_CODE_PATH_CONTAINER=/var/www

# required so we can reach the nginx server from other containers via that hostname
APP_HOST=docker-php-urlshortener.local

# nginx
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443

#mysql
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=urlshortener
DB_USERNAME=root
DB_PASSWORD=root
